[user]
    name = Petr Ruzicka
    email = petr.ruzicka@gmail.com
    signingkey = 2BD87EC4BA898363

[core]
    pager = delta
    editor = vim

# https://switowski.com/blog/configuring-git
[push]
    default = current

[alias]
    authors = log --pretty=format:'%an <%ae>'
    df = diff
    dt = difftool
    ll = log --first-parent --pretty=format:'%h %s'
    ls = ls-files
    rb = rebase
    changes = diff --name-status -r
    stat = diff --stat -r
    statd = diff --stat -r  --diff-filter=DR
    who = shortlog -s --
    fo = fetch origin
    fu = fetch upstream
    undo = reset --hard
    gitkconflict = !gitk --left-right HEAD...MERGE_HEAD
    pr = pull --rebase
    review-master = push origin HEAD:refs/for/master
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --graph --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset %C(bold green)(%cr)%Creset -%C(bold yellow)%d%Creset %s%Creset' --abbrev-commit --date=relative
    # cherryfetch fetches a repo ($1) / branch ($2) and applies it rebased!
    # the && true at the end eats up the appended args
    cherryfetch = !git fetch "$1" "$2" && git cherry-pick HEAD..FETCH_HEAD && true

[commit]
    verbose = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = cyan bold
    changed = yellow bold
    untracked = green bold

[merge]
    tool = meld

# https://stackoverflow.com/questions/4611512/is-there-a-way-to-make-git-pull-automatically-update-submodules
[submodule]
    recurse = true

# https://github.com/dandavison/delta
[delta]
    line-numbers = false
    diff-so-fancy = true
    hunk-header-decoration-style = ul brightblue

# https://github.com/dandavison/delta#--color-moved-support
[diff]
    colorMoved = default
