# keep-sorted start newline_separated=yes
*.tfstate

*.tfstate.*

# Lychee cache
.lycheecache

# pre-commit config file
.pre-commit-config.yaml

# Terraform
.terraform/

# Byte-compiled files
__pycache__/

# Ansible temporary files
ansible/.ansible/

# Ansible vault password file
vault-*.password
# keep-sorted end
