[ssh_connection]
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
pipelining = True

[defaults]
callback_whitelist = profile_tasks
fact_caching = memory
gathering = smart
host_key_checking = False
interpreter_python = auto_silent
remote_tmp = /var/tmp
timeout = 60
vault_password_file = vault-my_workstation.password
