[ActionPlugins][0]
MidButton;NoModifier=org.kde.paste
RightButton;NoModifier=org.kde.contextmenu
wheel:Vertical;NoModifier=org.kde.switchdesktop

[ActionPlugins][1]
RightButton;NoModifier=org.kde.contextmenu

[Containments][17]
activityId=1bf7f8cf-0488-4716-a54e-cc568b41718d
formfactor=0
immutability=1
lastScreen=0
location=0
plugin=org.kde.desktopcontainment
wallpaperplugin=org.kde.haenau

[Containments][17][Applets][23]
immutability=1
plugin=org.kde.plasma.systemmonitor.diskactivity

[Containments][17][Applets][23][Configuration]
PreloadWeight=10

[Containments][17][Applets][23][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][17][Applets][23][Configuration][General]
sources=disk%2F{{ primary_disk_device_number_kde_plasma.stdout }}%2FRate%2Fwblk

[Containments][17][Applets][24]
immutability=1
plugin=org.kde.plasma.systemmonitor.memory

[Containments][17][Applets][24][Configuration]
PreloadWeight=10

[Containments][17][Applets][24][Configuration][General]
sources=mem%2Fphysical%2Fapplication

[Containments][17][Applets][25]
immutability=1
plugin=org.kde.plasma.systemmonitor.net

[Containments][17][Applets][25][Configuration]
PreloadWeight=10

[Containments][17][Applets][25][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][17][Applets][25][Configuration][General]
sources=network%2Finterfaces%2F{% if wifi_interface == "" %}{{ ansible_default_ipv4.interface }}{% else %}{{ wifi_interface }}{% endif %}%2Ftransmitter%2Fdata

[Containments][17][Applets][29]
immutability=1
plugin=org.kde.plasma.systemmonitor.cpu

[Containments][17][Applets][29][Configuration]
PreloadWeight=10

[Containments][17][Applets][29][Configuration][General]
sources=cpu%2Fsystem%2FTotalLoad

[Containments][17][Configuration]
PreloadWeight=10

[Containments][17][General]
ItemsGeometries=Applet-23:0,720,432,320,0;Applet-24:0,240,432,272,0;Applet-25:0,512,432,208,0;Applet-29:0,0,432,240,0;
ToolBoxButtonState=topright
ToolBoxButtonX=1890
pressToMoveHelp=false

[Containments][17][Wallpaper][General]
Color=invalid
FillMode=2

[Containments][17][Wallpaper][org.kde.potd][General]
Color=invalid
FillMode=2
Provider=epod

[Containments][2]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.panel
wallpaperplugin=org.kde.image

[Containments][2][Applets][18]
immutability=1
plugin=org.kde.plasma.icon

[Containments][2][Applets][18][Configuration]
PreloadWeight=10
localPath={{ ansible_user_dir }}/.local/share/plasma_icons/firefox.desktop
url=file:///usr/share/applications/firefox.desktop

[Containments][2][Applets][19]
immutability=1
plugin=org.kde.plasma.icon

[Containments][2][Applets][19][Configuration]
PreloadWeight=10
localPath={{ ansible_user_dir }}/.local/share/plasma_icons/chromium-browser.desktop
url=file:///usr/share/applications/chromium-browser.desktop

[Containments][2][Applets][26]
immutability=1
plugin=org.kde.plasma.icon

[Containments][2][Applets][26][Configuration]
PreloadWeight=10
localPath={{ ansible_user_dir }}/.local/share/plasma_icons/org.kde.konsole.desktop
url=file:///usr/share/applications/org.kde.konsole.desktop

[Containments][2][Applets][27]
immutability=1
plugin=org.kde.plasma.icon

[Containments][2][Applets][27][Configuration]
PreloadWeight=10
localPath={{ ansible_user_dir }}/.local/share/plasma_icons/virt-manager.desktop
url=file:///usr/share/applications/virt-manager.desktop

[Containments][2][Applets][3]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][2][Applets][3][Configuration]
PreloadWeight=92

[Containments][2][Applets][3][Configuration][General]
favorites=preferred://browser,systemsettings.desktop,org.kde.dolphin.desktop,org.kde.konsole.desktop
favoritesPortedToKAstats=true
icon=start-here
systemApplications=systemsettings.desktop

[Containments][2][Applets][3][Configuration][Shortcuts]
global=Alt+F1

[Containments][2][Applets][3][Shortcuts]
global=Alt+F1

[Containments][2][Applets][4]
immutability=1
plugin=org.kde.plasma.pager

[Containments][2][Applets][4][Configuration]
PreloadWeight=10

[Containments][2][Applets][5]
immutability=1
plugin=org.kde.plasma.taskmanager

[Containments][2][Applets][5][Configuration]
PreloadWeight=10

[Containments][2][Applets][5][Configuration][General]
groupingStrategy=0
middleClickAction=ToggleGrouping
showOnlyCurrentActivity=false
showOnlyCurrentDesktop=true
showToolTips=false

[Containments][2][Applets][6]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][2][Applets][6][Configuration]
PreloadWeight=15
SystrayContainmentId=7

[Containments][2][Applets][8]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][2][Applets][8][Configuration]
PreloadWeight=10

[Containments][2][Applets][8][Configuration][Appearance]
dateFormat=isoDate
enabledCalendarPlugins=/usr/lib64/qt5/plugins/plasmacalendarplugins/holidaysevents.so
showDate=true
showSeconds=true
showWeekNumbers=true
use24hFormat=2

[Containments][2][ConfigDialog]
DialogHeight=83
DialogWidth=1024

[Containments][2][Configuration]
PreloadWeight=10

[Containments][2][General]
AppletOrder=3;18;19;26;27;5;4;6;8

[Containments][30]
activityId=1bf7f8cf-0488-4716-a54e-cc568b41718d
formfactor=0
immutability=1
lastScreen=1
location=0
plugin=org.kde.plasma.folder
wallpaperplugin=org.kde.hunyango

[Containments][30][Configuration]
PreloadWeight=10

[Containments][7]
activityId=
formfactor=2
immutability=1
lastScreen=0
location=4
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][7][Applets][10]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][7][Applets][10][Configuration]
PreloadWeight=10

[Containments][7][Applets][11]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][7][Applets][11][Configuration]
PreloadWeight=10

[Containments][7][Applets][12]
immutability=1
plugin=org.kde.kdeconnect

[Containments][7][Applets][12][Configuration]
PreloadWeight=10

[Containments][7][Applets][13]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][7][Applets][13][Configuration]
PreloadWeight=10

[Containments][7][Applets][14]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][7][Applets][14][Configuration]
PreloadWeight=10

[Containments][7][Applets][15]
immutability=1
plugin=org.kde.plasma.battery

[Containments][7][Applets][15][Configuration]
PreloadWeight=26

[Containments][7][Applets][16]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][7][Applets][16][Configuration]
PreloadWeight=20

[Containments][7][Applets][31]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][7][Applets][31][Configuration]
PreloadWeight=10

[Containments][7][Applets][32]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][7][Applets][9]
immutability=1
plugin=org.kde.plasma.volume

[Containments][7][Applets][9][Configuration]
PreloadWeight=10

[Containments][7][Applets][9][Configuration][General]
maximumVolume=200

[Containments][7][Configuration]
PreloadWeight=10

[Containments][7][General]
extraItems=org.kde.plasma.networkmanagement,org.kde.kdeconnect,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol
hiddenItems=KDE Daemon,org.kde.plasma.clipboard
knownItems=org.kde.plasma.networkmanagement,org.kde.kdeconnect,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.printmanager,org.kde.plasma.keyboardindicator,org.kde.plasma.nightcolorcontrol

[General]
immutability=1
